<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>전략적 팀 전투 승패 예측</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">전략적 팀 전투 승패 예측</a>
                
            </div>
        </nav>
        <!-- Page content-->
            
<form action="/" method="post">
    <h1>다음의 정보를 입력해주세요. <br> 특성의 경우, 활성화된 단계를 입력해주시면 됩니다. </h1>
    <div class="form-group">
        <label>남은 골드</label>
        <input type="text" value="0" name="gold_left" class="form-control" size="10"> 
    </div>
    <div class="form-group">
      <label>총 특성 수</label>
      <input type="text" value="0" name="traits_count" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label>입힌 총 데미지</label>
      <input type="text" value="0" name="total_damage_to_players" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label>아카데미 (최대 4)</label>
      <input type="text" value="0" value="0" name="Set6_Academy" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label>비전 마법사 (최대 4)</label>
      <input type="text" value="0" name="Set6_Arcanist" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label>암살자 (최대 3)</label>
      <input type="text" value="0" name="Set6_Assassin" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 경호대 (최대 4)</label>
      <input type="text" value="0" name="Set6_Bodyguard" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 난동꾼 (최대 4)</label>
      <input type="text" value="0" name="Set6_Bruiser" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 도전자 (최대 4)</label>
      <input type="text" value="0" name="Set6_Challenger" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 화학공학 (최대 4)</label>
      <input type="text" value="0" name="Set6_Chemtech" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 거신 (최대 1)</label>
      <input type="text" value="0" name="Set6_Colossus" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 시계태엽(최대 3)</label>
      <input type="text" value="0" name="Set6_Clockwork" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 포근(최대 1)</label>
      <input type="text" value="0" name="Set6_Cuddly" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 강화술사(최대 4)</label>
      <input type="text" value="0" name="Set6_Enchanter" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 집행자 (최대 2)</label>
      <input type="text" value="0" name="Set6_Enforcer" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 대식가 (최대 1)</label>
      <input type="text" value="0" name="Set6_Glutton" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 제국 (최대 2)</label>
      <input type="text" value="0" name="Set6_Imperial" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 혁신가 (최대 3)</label>
      <input type="text" value="0" name="Set6_Innovator" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 용병 (최대 3)</label>
      <input type="text" value="0" name="Set6_Mercenary" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 돌연변이 (최대 2)</label>
      <input type="text" value="0" name="Set6_Mutant" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 봉쇄자 (최대 2)</label>
      <input type="text" value="0" name="Set6_Protector" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 학자 (최대 3)</label>
      <input type="text" value="0" name="Set6_Scholar" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 고물상 (최대 3)</label>
      <input type="text" value="0" name="Set6_Scrap" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 자매 (최대 1)</label>
      <input type="text" value="0" name="Set6_Sister" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 저격수 (최대 3)</label>
      <input type="text" value="0" name="Set6_Sniper" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 사교계 (최대 3)</label>
      <input type="text" value="0" name="Set6_Socialite" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 범죄조직 (최대 3)</label>
      <input type="text" value="0" name="Set6_Syndicate" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 변형술사 (최대 1)</label>
      <input type="text" value="0" name="Set6_Transformer" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 쌍발총 (최대 3)</label>
      <input type="text" value="0" name="Set6_Twinshot" class="form-control" size="10"> 
  </div>
  <div class="form-group">
      <label> 요들 (최대 2)</label>
      <input type="text" value="0" name="Set6_Yordle" class="form-control" size="10"> 
  </div>

<button type="submit" class="btn btn-primary">예측하기</button>
</form>
<div>
    <button type="button" class="btn btn-success">예상 결과는?</button>

<br>
<div style="border:1px dashed; padding:10px;">
{%if pred == 1 %} 
슬프게도, 패배할 것 같네요.
{%elif pred == 0 %} 
오예! 이길 듯 해요! 
{%endif%}
</div>
</div>
        </div>
    </body>
</html>
